.env
node_modules/
package-lock.json
C:\Users\Usuario\Documents\UNIVERSIDADDDDDD\7to Semestre\moviles\mobile_dev_labs\flutter_exam_2\backend\exam-2-flutter-firebase-adminsdk-fbsvc-2410b97328.json
providers/firebase.js